@import url(https://fonts.googleapis.com/css?family=Raleway);

nav {
  background-color: black;
}

p {
  color: black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#phones {
  padding-top: 0px;
  margin-top: 0px;
  border-bottom: 3px solid black;
}

.navbar navbar-expand-md mb-4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.tableText {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
}

.spectrumTableImage {
  width: 180px;
  height: 90px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.howToFilter {
  width: 630px;
  height: 340px;
}

.instructions {
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
}

.instructionsText {
  font-family: 'Raleway', sans-serif;
  font-weight: 500px;
}

.card {
  border-color: white;
  margin-right: 20px;
}

.card-title {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container-fluid {
  margin-left: 70px;
  margin-right: 70px;
}

.nav-link {
  color: white;
}

.footerSubtitle{
  /*color: #A0A0A0;*/
  color: white;
}

.footerTitle {
  color: white;
}

.navbar-fixed-bottom {
  height: 200px;
}

.articleImage {
  width: 395px;
  height: 230px;
}

.titles {
  padding-left: 10px;
  padding-bottom: 10px;
}

.cardSpectrum {
  width: 70%;
  text-align: center;
}

/* new tool tip code */

.tooltip-wrap {
  position: relative;
}

.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  /*bottom: 5%;
  left: 5%;
  right: 5%;*/
  background-color: #fff;
  width: 120px;
  height: 65px;;
  /*padding: .5em;*/
  /*top: 80%;*/
  bottom: 110%;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  /*margin-left: 50px;*/
}

/* source: https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
.tooltip-wrap:hover > .tooltip-content{
  bottom: 93%;
}

.tooltip-wrap:hover .tooltip-content {
  display: block;
}

.spectrumImage {
  width: 100px;
  height: 50px;
}

.list-group-item {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

/* filter icon dropdown */

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: black;}

.dropdown-content p {
  color: black;
  padding-left: 5px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 0px;
  text-decoration: none;
  display: block;
}

#filterCheckboxes {
  padding-left: 15px;
}

#filterIcon {
  margin-right: 0px;
}

#trendingTitle {
  /*float: left;*/
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: 'Asap', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  color: #ff1414;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
}

.subpageTitle {
  /*float: left;*/
  position: relative;
  /*padding-left: 10px;*/
  padding-bottom: 20px;
  font-family: 'Asap', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  color: #ff1414;
  /*color: #014bad;*/
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(7deg, 0deg);
}

#filterInstructions {
  width: 670px;
}

#spectrumImagesExplanation {
  width: 670px;
}

#instructionsDiv {
  margin-left: 20px;
}

#siteLogo {
  margin-left: 5px;
}

#footerLogo {
  margin-left: 50px;
}

#footerCopyright {
  margin-top: 10px;
  margin-left: 50px;
}

#usNav {
  margin-left: 12px;
}

#worldNav {
 margin-left: 13px;
}

#businessNav {
 margin-left: 12px;
}

#footer {
  background-color: black;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-left: 0px;
  padding-left: 0px;
  height: 250px;
}

#search {
  border-color: white;
  color: white;
}

#pasteArticle {
  font-size: 20px;
  font-weight: bold;
}

#inputEmail {
  width: 700px;
}

#classifierResultsImage {
  width: 300px;
  height: 125px;
}

.flex {
   display: flex;
   flex-direction: row;
}

/*#mainRow {
  float: left;
  width: 80%;
}

#sideColumn {
  margin-left: 80%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: block;
  float: left;
}*/
