nav {
  background-color: black;
}

p {
  color: black;
}

.card {
  border-color: white;
  margin-right: 20px;
}

.card-title {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container-fluid {
  margin-left: 70px;
  margin-right: 70px;
}

.nav-link {
  color: white;
}

.footerSubtitle{
  /*color: #A0A0A0;*/
  color: white;
}

.footerTitle {
  color: white;
}

.navbar-fixed-bottom {
  height: 200px;
}

.articleImage {
  width: 395px;
  height: 230px;
}

#siteLogo {
  margin-left: 5px;
}

#footerLogo {
  margin-left: 50px;
}

#footerCopyright {
  margin-top: 10px;
  margin-left: 50px;
}

#usNav {
  margin-left: 12px;
}

#worldNav {
 margin-left: 13px;
}

#businessNav {
 margin-left: 12px;
}

#footer {
  background-color: black;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-left: 0px;
  padding-left: 0px;
  height: 250px;
}

#search {
  border-color: white;
  color: white;
}
