<!DOCTYPE html>
<html lang="en">

    <head>
        <!--initial setup/linking-->
        <title>Balanced News</title>
        <link rel="stylesheet" href= "static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link rel="icon" href="static/logo3.png">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

        <!-- nav bar when screen is phone-sized -->

        <div class="smallNav">

        <nav class="navbar navbar-expand-md mb-4">

        <div id="dropdownLeft" class="dropdown">

          <button class="dropbtn">
            <img class="siteLogo float-left" src="static/logo3.png" width="65" height="60" alt="logo">
          </button>

          <div id="logoDropdown" class="dropdown-content">
            <a id="topHeadlinesLink" class="nav-link" href="/">Top Headlines</a>
            <a class="nav-link" href="/entertainment">Entertainment</a>
            <a class="nav-link" href="/sports">Sports</a>
            <a class="nav-link" href="/business">Business</a>
            <a class="nav-link" href="/science">Science</a>
            <a class="nav-link" href="/health">Health</a>
          </div>
        </div>

        <div class="dropdown" style="float:right;">
          <button class="dropbtn">
            <img class="filterIcon float-right" src="static/filterIcon.png" width="65" height="60" alt="logo">
          </button>
          <div class="dropdown-content">
            <form class="filterCheckboxes" method="post">
            <p>Filter by:</p>
            <p>Right-leaning <input type="checkbox" class="right-leaning" name="party" value="Right"></p>
            <p>Left-leaning <input type="checkbox" class="left-leaning" name="party" value="Left"></p>
            <p>Neutral <input type="checkbox" class="neutral" name="party" value="Neutral"></p>
            <p><input type="submit" value="Submit"></p>
            </form>
          </div>
      </div>

      </nav>

      </div>

      <!-- regular navigation bar -->

      <div class="regularNav">

      <nav class="navbar navbar-expand-md mb-4">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img class="siteLogo" src="static/logo3.png" width="65" height="60" alt="logo">
      </a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a id="entertainmentNav" class="nav-link" href="/entertainment">Entertainment</a>
          </li>

          <li class="nav-item">
            <a id="sportsNav" class="nav-link" href="/sports">Sports</a>
          </li>

          <li class="nav-item">
            <a id="businessNav" class="nav-link" href="/business">Business</a>
          </li>

          <li class="nav-item">
            <a id="scienceNav" class="nav-link" href="/science">Science</a>
          </li>

          <li class="nav-item">
            <a id="healthNav" class="nav-link" href="/health">Health</a>
          </li>

        </ul>

        <div id="dropdownRight" class="dropdown">

        <button class="dropbtn">
            <img class="float-right" src="static/filterIcon.png" width="65" height="60" alt="logo">
        </button>

          <div class="dropdown-content">
            <form class="filterCheckboxes" method="post">
            <p>Filter by:</p>
            <p>Right-leaning <input type="checkbox" class="right-leaning" name="party" value="Right"></p>
            <p>Left-leaning <input type="checkbox" class="left-leaning" name="party" value="Left"></p>
            <p>Neutral <input type="checkbox" class="neutral" name="party" value="Neutral"></p>
            <p><input type="submit" value="Submit"></p>
            </form>
          </div>
      </div>

        </div>
      </nav>
    </div>

    {% block body %} {% endblock %}

    {% block footer %}

    <!--regular footer starts here-->

    <div class="regularFooter">
    <footer id="footer" class="pt-4 pt-md-5 border-top">
       <div class="row">
         <div class="col-md-3">
           <img id="footerLogo" class="mb-2" src="static/logo3.png" alt="" width="50" height="50">
           <small id="footerCopyright" class="d-block mb-3 footerSubtitle">&copy; February 2021</small>
         </div>
         <div class="col-md-3">
           <h5 class="footerTitle">Learn More</h5>
           <ul class="list-unstyled text-small">
             <li><a class="footerSubtitle" href="/instructions">How to Use Our Site</a></li>
             <li><a class="footerSubtitle" href="/classify">Classify Your Own Articles!</a></li>
             <li><a class="footerSubtitle" href="/contact">Get in Touch</a></li>
           </ul>
         </div>
         <div class="col-md-3">
           <h5 class="footerTitle">News</h5>
           <ul class="list-unstyled text-small">
             <li><a class="footerSubtitle" href="/entertainment">Entertainment</a></li>
             <li><a class="footerSubtitle" href="/sports">Sports</a></li>
             <li><a class="footerSubtitle" href="/business">Business</a></li>
             <li><a class="footerSubtitle" href="/science">Science</a></li>
             <li><a class="footerSubtitle" href="/health">Health</a></li>
           </ul>
         </div>
         <div class="col-md-3">
           <h5 class="footerTitle">Search Our Site</h5>
             <form id="searchForm" class="form-inline mt-2 mt-md-0" method="POST" action="/" >
               <input id="searchInput" class="form-control" type="text" placeholder="Search" aria-label="Search" name="searchText">
               <ul class="list-unstyled text-small">
               </ul>
               <input id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" />
             </form>
         </div>

       </div>
     </footer>
   </div>

   <!-- footer for small screen size -->
   <div class="smallFooter">

     <footer id="footerSmall" class="pt-4 pt-md-5 border-top">
       <div class="text-center">
         <form id="searchFormMobile" class="form-inline justify-content-center" method="POST" action="/" >
           <input id="searchInput2" class="form-control" type="text" placeholder="type in your search and press enter!" aria-label="Search" name="searchText">
           <ul class="list-unstyled text-small">
            </ul>
         </form>

          <h5 class="footerTitle">News</h5>
          <ul class="list-unstyled text-small">
            <li><a class="footerSubtitle" href="/">Top Headlines</a></li>
            <li><a class="footerSubtitle" href="/entertainment">Entertainment</a></li>
            <li><a class="footerSubtitle" href="/sports">Sports</a></li>
            <li><a class="footerSubtitle" href="/business">Business</a></li>
            <li><a class="footerSubtitle" href="/science">Science</a></li>
            <li><a class="footerSubtitle" href="/health">Health</a></li>
          </ul>

          <h5 class="footerTitle">Learn More</h5>
          <ul class="list-unstyled text-small">
            <li><a class="footerSubtitle" href="/instructions">How to Use Our Site</a></li>
            <li><a class="footerSubtitle" href="/classify">Classify Your Own Articles!</a></li>
            <li><a class="footerSubtitle" href="/contact">Get in Touch</a></li>
          </ul>

          <img id="footerLogoMobile" class="mb-2" src="static/logo3.png" alt="" width="50" height="50">
          <small id="footerCopyrightMobiles" class="d-block mb-3 footerSubtitle">&copy; February 2021</small>
        </div>
        </footer>
      </div>

    {% endblock %}

</html>
