<!DOCTYPE html>
<html lang="en">

    <head>
        <!--initial setup/linking-->
        <title>Balanced News</title>
        <link rel="stylesheet" href= "static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link rel="icon" href="static/logo3.png">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!--<script type="text/javascript" src="static/functions.js"></script>-->
    </head>

    <body>

      <!--linking to JavaScript file-->
      <!--source: https://stackoverflow.com/questions/14711552/external-javascript-file-is-not-getting-added-when-running-on-flask-->
      <script type="text/javascript"
              src="{{ url_for('static', filename='functions.js') }}"></script>

      <!--clear form input upon refresh of page-->
      <!--source: https://stackoverflow.com/questions/6320113/how-to-prevent-form-resubmission-when-page-is-refreshed-f5-ctrlr/45656609#45656609?newreg=05334529cc45440ba4d26fd23c671889-->
      <script type="text/javascript">
          if ( window.history.replaceState ) {
              window.history.replaceState( null, null, window.location.href );
          }
      </script>

        <!-- nav bar when screen is phone-sized -->

        <div class="smallNav">

        <nav class="navbar navbar-expand-md mb-4">

        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>-->

        <div id="dropdownLeft" class="dropdown">

        <button class="dropbtn">
          <div class="float-left">
            <img id="siteLogo" src="static/logo3.png" width="65px" height="60px" alt="logo">
          </div>
        </button>

          <div id="logoDropdown" class="dropdown-content">
            <a id="topHeadlinesLink" class="nav-link" href="/">Top Headlines</a>
            <a class="nav-link" href="/entertainment">Entertainment</a>
            <a class="nav-link" href="/sports">Sports</a>
            <a class="nav-link" href="/business">Business</a>
            <a class="nav-link" href="/science">Science</a>
            <a class="nav-link" href="/health">Health</a>
          </div>
        </div>

      </nav>

      </div>

        <!-- regular navigation bar -->

        <div class="regularNav">

        <nav class="navbar navbar-expand-md mb-4">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
          <img id="siteLogo" src="static/logo3.png" width="65px" height="60px" alt="logo">
        </a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a id="usNav" class="nav-link" href="/entertainment">Entertainment</a>
            </li>

            <li class="nav-item">
              <a id="businessNav" class="nav-link" href="/sports">Sports</a>
            </li>

            <li class="nav-item">
              <a id="businessNav" class="nav-link" href="/business">Business</a>
            </li>

            <li class="nav-item">
              <a id="businessNav" class="nav-link" href="/science">Science</a>
            </li>

            <li class="nav-item">
              <a id="businessNav" class="nav-link" href="/health">Health</a>
            </li>

            <!--<li class="nav-item">
              <a id="worldNav" class="nav-link" href="/mldemo">Machine Learning Demo</a>
            </li>-->

          </ul>

          <div class="dropdown" style="float:right;">

          <button class="dropbtn">
            <div class="float-right">
              <img id="filterIcon" src="static/filterIcon.png" width="65px" height="60px" alt="logo">
            </div>
          </button>

            <div class="dropdown-content">
              <form id="filterCheckboxes" method="post">
              <p>Filter by:</p>
              <p>Right-leaning <input type="checkbox" id="right-leaning" name="party" value="Right"></p>
              <p>Left-leaning <input type="checkbox" id="left-leaning" name="party" value="Left"></p>
              <p>Neutral <input type="checkbox" id="neutral" name="party" value="Neutral"></p>
              <p><input type="submit" value="Submit"></p>
              </form>
            </div>
        </div>

          </div>
        </nav>
      </div>


    </body>

    {% block body %}


    {% endblock %}


    {% block footer %}

    <!--Footer Starts Here-->

    <footer id="footer" class="pt-4 pt-md-5 border-top">
      <!--<div class="container-fluid">-->
       <div class="row">
         <div class="col-12 col-md">
           <img id="footerLogo" class="mb-2" src="static/logo3.png" alt="" width="50" height="50">
           <small id="footerCopyright" class="d-block mb-3 footerSubtitle">&copy; February 2021</small>
         </div>
         <div class="col-6 col-md">
           <h5 class="footerTitle">Learn More</h5>
           <ul class="list-unstyled text-small">
             <!--<li><a class="footerSubtitle" href="/about">About Us</a></li>-->
             <li><a class="footerSubtitle" href="/instructions">How to Use Our Site</a></li>
             <li><a class="footerSubtitle" href="/classify">Classify Your Own Articles!</a></li>
             <li><a class="footerSubtitle" href="/contact">Get in Touch</a></li>
           </ul>
         </div>
         <div class="col-6 col-md">
           <h5 class="footerTitle">News</h5>
           <ul class="list-unstyled text-small">
             <li><a class="footerSubtitle" href="/entertainment">Entertainment</a></li>
             <li><a class="footerSubtitle" href="/sports">Sports</a></li>
             <li><a class="footerSubtitle" href="/business">Business</a></li>
             <li><a class="footerSubtitle" href="/science">Science</a></li>
             <li><a class="footerSubtitle" href="/health">Health</a></li>
           </ul>
         </div>
         <div class="col-6 col-md">
           <h5 class="footerTitle">Search Our Site</h5>
           <ul class="list-unstyled text-small">
             <form id="searchForm" class="form-inline mt-2 mt-md-0" method="POST" action="/" >
               <input id="searchInput" class="form-control" type="text" placeholder="Search" aria-label="Search" name="searchText">
               <input id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" />
             </form>
           </ul>
         </div>
       </div>
     </footer>

    {% endblock %}

</body>

</html>
