<!DOCTYPE html>
<html lang="en">
    <head>
        <!--initial setup/linking-->
        <title>Balanced News</title>
        <link rel="stylesheet" href= "static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <!--<script src="static/functions.js"></script>-->
        <link rel="icon" href="static/logo3.png">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body>

      <nav class="navbar navbar-expand-md mb-4">
        <a class="navbar-brand" href="/">
          <img id="siteLogo" src="static/logo3.png" width="65px" height="60px" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a id="usNav" class="nav-link" href="/entertainment">Entertainment</a>
            </li>

            <li class="nav-item">
              <a id="businessNav" class="nav-link" href="/sports">Sports</a>
            </li>

            <li class="nav-item">
              <a id="businessNav" class="nav-link" href="/business">Business</a>
            </li>

            <li class="nav-item">
              <a id="businessNav" class="nav-link" href="/science">Science</a>
            </li>

            <li class="nav-item">
              <a id="businessNav" class="nav-link" href="/health">Health</a>
            </li>

            <!--<li class="nav-item">
              <a id="worldNav" class="nav-link" href="/mldemo">Machine Learning Demo</a>
            </li>-->

          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
          </form>
        </div>
      </nav>


    </body>

    {% block body %}

    {% endblock %}


    {% block footer %}

    <!--Footer Starts Here-->
    <!--fix footer so that it extends all the way!!-->

    <footer id="footer" class="pt-4 pt-md-5 border-top">
      <!--<div class="container-fluid">-->
       <div class="row">
         <div class="col-12 col-md">
           <img id="footerLogo" class="mb-2" src="static/logo3.png" alt="" width="50" height="50">
           <small id="footerCopyright" class="d-block mb-3 footerSubtitle">&copy; February 2021</small>
         </div>
         <div class="col-6 col-md">
           <h5 class="footerTitle">Learn More</h5>
           <ul class="list-unstyled text-small">
             <li><a class="footerSubtitle" href="/about">About Us</a></li>
             <li><a class="footerSubtitle" href="/instructions">How to Use Our Site</a></li>
             <li><a class="footerSubtitle" href="/contact">Get in Touch</a></li>
           </ul>
         </div>
         <div class="col-6 col-md">
           <h5 class="footerTitle">News</h5>
           <ul class="list-unstyled text-small">
             <li><a class="footerSubtitle" href="/us">US</a></li>
             <li><a class="footerSubtitle" href="/world">World</a></li>
             <li><a class="footerSubtitle" href="/business">Business</a></li>
           </ul>
         </div>
         <div class="col-6 col-md">
           <h5 class="footerTitle">Search Our Site</h5>
           <ul class="list-unstyled text-small">
             <form class="form-inline mt-2 mt-md-0">
               <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
               <button id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>
           </ul>
         </div>
       </div>
     <!--</div>-->
     </footer>

    {% endblock %}

</body>

</html>
