<!--extends file called base.html-->
{% extends "base.html" %}

<!--head of web page-->
{% block head %}

<head>
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>

<!--end of head-->
{% endblock %}

<!--body of web page-->
{% block body %}

<!--container to store articles-->
<div class="container-fluid">

<section id="gallery">

   <div class="container">

      <h2 class="subpageTitle"> {{pageTitle}} </h2>

        <div id="mainRow" class="row">

        </div>
    </div>
</section>
<!--end of container storing articles-->

<!--clear div with class row on page load-->
<script type="text/javascript">

  var element = document.getElementsByClassName("row");
  element.innerHTML = '';

</script>

<!--loop through articles; choose whether to display them & how to display them-->
{% for article in articles %}

<!--check if user wants to filter by each category-->
{% set rightFilterActive = arrayBools[0] %}

<!--<script>console.log("Right filter active: " + "{{rightFilterActive}}")</script>-->

{% set leftFilterActive = arrayBools[1] %}

<!--<script>console.log("Left filter active: " + "{{leftFilterActive}}")</script>-->

{% set neutralFilterActive = arrayBools[2] %}

<!--<script>console.log("Neutral filter active: " + "{{neutralFilterActive}}")</script>-->

<!--getting properties of article-->
{% set articleName = article['title'] %}
{% set articleURL = article['url'] %}
{% set imgURL = article['imageURL'] %}
{% set articlePoliticalAssignment = article['leaning'] %}
{% set articleOnSpectrum = article['onSpectrum'] %}
{% if articlePoliticalAssignment != 'n/a' %}

<!-- displaying republican / neutral articles if filters allow it -->
{% if rightFilterActive == 'True' %}

<!--<script>console.log("Right filter is active");</script>

<script>console.log("political assignment: {{articlePoliticalAssignment}}");</script>

<script>console.log("on spectrum: {{articleOnSpectrum}}");</script>-->

  {% if (articlePoliticalAssignment == 'right' and articleOnSpectrum != "neutral") or (articlePoliticalAssignment == 'right' and neutralFilter == "True" and articleOnSpectrum == "neutral") %}

      <!--source: https://stackoverflow.com/questions/2061439/string-concatenation-in-jinja-->
      {% set spectrumImagePath = 'static/spectrumIcons/' ~ articleOnSpectrum ~ '.png' %}

      {% if imgURL is not none and imgURL != "" %}

      <script type="text/javascript">

      var card = getCardCode("{{imgURL}}", "{{articleURL}}", "{{articleName}}", "{{spectrumImagePath}}")
      var element = document.getElementById("mainRow");
      element.innerHTML += "<br>";
      element.innerHTML += card;

      </script>

      {% else %}

      <!-- add card to the More in US Headlines card-->
      <!--source: https://stackoverflow.com/questions/44830188/uncaught-typeerror-cannot-read-property-append-of-null-in-jquery-->
      <!--source: https://www.tutorialrepublic.com/faq/how-to-add-li-in-an-existing-ul-using-jquery.php-->

      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script type="text/javascript">

      appendNoImageArticle("{{articleURL}}", "{{articleName}}", "{{spectrumImagePath}}")
      changeArticlesWithImages();
      console.log("articles with images: " + articlesWithImages);

      </script>


      {% endif %}

    {% endif %}

{% endif %}

<!-- displaying democratic / neutral articles if filters allow it -->

{% if leftFilterActive == 'True' %}

<!--<script>console.log("Left filter is active");</script>

<script>console.log("political assignment: {{articlePoliticalAssignment}}");</script>

<script>console.log("on spectrum: {{articleOnSpectrum}}");</script>-->

  {% if (articlePoliticalAssignment == 'left' and articleOnSpectrum != "neutral") or (articlePoliticalAssignment == 'left' and neutralFilter == "True" and articleOnSpectrum == "neutral") %}

      <!--source: https://stackoverflow.com/questions/2061439/string-concatenation-in-jinja-->
      {% set spectrumImagePath = 'static/spectrumIcons/' ~ articleOnSpectrum ~ '.png' %}

      {% if imgURL is not none and imgURL != "" %}

      <script type="text/javascript">

      var card = getCardCode("{{imgURL}}", "{{articleURL}}", "{{articleName}}", "{{spectrumImagePath}}")
      var element = document.getElementById("mainRow");
      element.innerHTML += "<br>";
      element.innerHTML += card;

      </script>

      {% else %}

      <script>console.log("article with no image!")</script>

      <!-- add card to the More in US Headlines card-->
      <!--source: https://stackoverflow.com/questions/44830188/uncaught-typeerror-cannot-read-property-append-of-null-in-jquery-->
      <!--source: https://www.tutorialrepublic.com/faq/how-to-add-li-in-an-existing-ul-using-jquery.php-->

      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script type="text/javascript">

      appendNoImageArticle("{{articleURL}}", "{{articleName}}", "{{spectrumImagePath}}")
      changeArticlesWithImages();
      console.log("articles with images: " + articlesWithImages);

      </script>

      {% endif %}

    {% endif %}

  {% endif %}

  <!--end of if statement checking if article has been classified-->
  {% endif %}

{% endfor %}

<script>

otherArticlesCard = createNoImageCard("More from Entertainment")
var element = document.getElementById("mainRow");
element.innerHTML += "<br>";
element.innerHTML += otherArticlesCard;

console.log("before deleting card, articles with images: " + getArticlesWithImages())

if (getArticlesWithImages() == "all") {
  document.getElementById('noImageCard').remove();
}

</script>

<!--end of body-->
{% endblock %}
