<!--extends file called base.html-->
{% extends "base.html" %}

<!--head of web page-->
{% block head %}

<head>
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>

<!--end of head-->
{% endblock %}

{% block body %}

<!--clear form input upon refresh of page-->
<!--source: https://stackoverflow.com/questions/6320113/how-to-prevent-form-resubmission-when-page-is-refreshed-f5-ctrlr/45656609#45656609?newreg=05334529cc45440ba4d26fd23c671889-->

<script type="text/javascript">
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<!--Featured Image-->

<div id="instructionsDiv" class="container-fluid"><br><br>

  <img alt="instructions" src="static/classifyArticles.png" style="width:100%;" /><br><br>

  <p id="pasteArticle" class="instructionsText"> Paste an article's url into the following input box to see its political assignment: </p>

  <form id="articleLink" method="POST">

  <div class="flex">
      <input type="text" id="inputEmail" class="form-control" placeholder="enter an article url" name="url" required autofocus>
      <br><input id="submitButton" type="submit" style="margin-left:10px" value="Submit">
  </div>

  </form>
  <br>

  {% if spectrumImagePath != 'empty' and politicalAssignment != 'none' %}

    {% if inputValid == 'yes' %}

      {% if spectrumImagePath != 'neutral' %}

        <p id="pasteArticle" class="instructionsText"> Your article is {{politicalAssignment}}-leaning! </p>
        <img id="classifierResultsImage" alt="spectrum" src="static/spectrumIcons/{{spectrumImagePath}}.png" />

      {% else %}

        <p id="pasteArticle" class="instructionsText"> Your article is neutral! </p>
        <img id="classifierResultsImage" alt="spectrum" src="static/spectrumIcons/{{spectrumImagePath}}.png" />

      {% endif %}

    {% endif %}

  {% else %}

    {% if userInputExists == 'yes' %}
      <script> console.log("{{spectrumImagePath}}") </script>
      <p id="pasteArticle" class="instructionsText"> Oops! Your input was invalid. Enter a new URL to try again :) </p>
    {% endif %}

  {% endif %}

</div>

{% endblock %}
