<!--extends file called base.html-->
{% extends "base.html" %}

<!--head of web page-->
{% block head %}

<head>
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>

<!--end of head-->
{% endblock %}

{% block body %}
<div class="smallNav">

<nav class="navbar navbar-expand-md mb-4">

<div id="dropdownLeft" class="dropdown">
<div class="float-left">
  <button class="dropbtn">
    <img class="siteLogo" src="static/logo3.png" width="65" height="60" alt="logo">
  </button>
</div>
  <div id="logoDropdown" class="dropdown-content">
    <a id="topHeadlinesLink" class="nav-link" href="/">Top Headlines</a>
    <a class="nav-link" href="/entertainment">Entertainment</a>
    <a class="nav-link" href="/sports">Sports</a>
    <a class="nav-link" href="/business">Business</a>
    <a class="nav-link" href="/science">Science</a>
    <a class="nav-link" href="/health">Health</a>
  </div>
</div>

<div class="dropdown" style="float:right;">
<div class="float-right">
  <button class="dropbtn">
    <img class="filterIcon" src="static/filterIcon.png" width="65" height="60" alt="logo">
  </button>
</div>
  <div class="dropdown-content">
    <form class="filterCheckboxes" method="post">
    <p>Filter by:</p>
    <p>Right-leaning <input type="checkbox" class="right-leaning" name="party" value="Right"></p>
    <p>Left-leaning <input type="checkbox" class="left-leaning" name="party" value="Left"></p>
    <p>Neutral <input type="checkbox" class="neutral" name="party" value="Neutral"></p>
    <p><input type="submit" value="Submit"></p>
    </form>
  </div>
</div>

</nav>

</div>

<!-- regular navigation bar -->

<div class="regularNav">

<nav class="navbar navbar-expand-md mb-4">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" href="/">
  <img class="siteLogo" src="static/logo3.png" width="65" height="60" alt="logo">
</a>

<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a id="entertainmentNav" class="nav-link" href="/entertainment">Entertainment</a>
    </li>

    <li class="nav-item">
      <a id="sportsNav" class="nav-link" href="/sports">Sports</a>
    </li>

    <li class="nav-item">
      <a id="businessNav" class="nav-link" href="/business">Business</a>
    </li>

    <li class="nav-item">
      <a id="scienceNav" class="nav-link" href="/science">Science</a>
    </li>

    <li class="nav-item">
      <a id="healthNav" class="nav-link" href="/health">Health</a>
    </li>

    <!--<li class="nav-item">
      <a id="worldNav" class="nav-link" href="/mldemo">Machine Learning Demo</a>
    </li>-->

  </ul>

  <div class="dropdown" style="float:right;">
  <div class="float-right">
    <button class="dropbtn">
      <img class="filterIcon" src="static/filterIcon.png" width="65" height="60" alt="logo">
    </button>
  </div>
    <div class="dropdown-content">
      <form class="filterCheckboxes" method="post">
      <p>Filter by:</p>
      <p>Right-leaning <input type="checkbox" class="right-leaning" name="party" value="Right"></p>
      <p>Left-leaning <input type="checkbox" class="left-leaning" name="party" value="Left"></p>
      <p>Neutral <input type="checkbox" class="neutral" name="party" value="Neutral"></p>
      <p><input type="submit" value="Submit"></p>
      </form>
    </div>
</div>

  </div>
</nav>
</div>
<!--Featured Image-->

<div id="instructionsDiv" class="container-fluid"><br><br>

  <img alt="instructions" src="static/classifyArticles.png" style="width:100%;" /><br><br>

  <p id="pasteArticle" class="instructionsText"> Paste an article's url into the following input box to see its political assignment: </p>

  <form id="articleLink" method="POST">

  <div class="flex">
      <input type="text" id="inputEmail" class="form-control" placeholder="enter an article url" name="url" required autofocus>
      <br><input id="submitButton" type="submit" style="margin-left:10px" value="Submit">
  </div>

  </form>
  <br>

  {% if spectrumImagePath != 'empty' and politicalAssignment != 'none' %}

    {% if inputValid == 'yes' %}
    <p id="pasteArticle" class="instructionsText"> Your article is {{politicalAssignment}}-leaning! </p>
    <img id="classifierResultsImage" alt="spectrum" src="static/spectrumIcons/{{spectrumImagePath}}.png" />

    {% else %}

    <script>alert("Oops! Your input was invalid. Enter a new URL to try again :)")</script>

    {% endif %}

  {% endif %}

</div>

{% endblock %}
