<!--

{% if partyResult == 'dem' %}

  {% if confidenceScore >=0 and confidenceScore <= 0.33333333333 %}

    {% set spectrumImagePath = "static/spectrumIcons/leastLeft.png" %}

  {% elif confidenceScore <= 0.66666666666 %}

    {% set spectrumImagePath = "static/spectrumIcons/moderateLeft.png %}

  {% elif confidenceScore <= 1.0 %}

    {% set spectrumImagePath = "static/spectrumIcons/farLeft.png" %}

  {% else %}
    <script> console.log("error: dem confidence score out of range") </script>

  {% endif %}

{% elif partyResult == 'rep' %}

  {% if confidenceScore >=0 and confidenceScore <= 0.33333333333 %}

    {% set spectrumImagePath = "static/spectrumIcons/leastRight.png" %}

  {% elif confidenceScore <= 0.66666666666 %}

    {% set spectrumImagePath = "static/spectrumIcons/moderateRight.png" %}

  {% elif confidenceScore <= 1.0 %}

    {% set spectrumImagePath = "static/spectrumIcons/farRight.png" %}

  {% else %}
    <script> console.log("error: rep confidence score out of range") </script>

  {% endif %}

{% else % }
  <script> console.log("error: partyResult not found") </script>

{% endif %}

-->
