<!--extends file called base.html-->
{% extends "base.html" %}

<!--head of web page-->
{% block head %}

<head>

  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

</head>

<!--end of head-->
{% endblock %}

<!--body of web page-->
{% block body %}


<div class="card-columns">
{% for article in articles %}

{% set imgURL = article['photo_url'] %}
{% set articleName = article['title'] %}
{% set articleAuthor = article['author'] %}
{% set articleContent = article['content'] %}
{% set articleURL = article['url'] %}

{% if imgURL is not none %}

<a href={{articleURL}}>
  <div class="card">
    <img class="card-img-top" src={{imgURL}}>
    <div class="card-body">
      <h5 class="card-title">{{articleName}}</h5>
    </div>
  </div>
</a>


{% endif %}

{% endfor %}
</div>


<script>
console.log({{news}})
</script>

<!--end of body-->
{% endblock %}
