<!--extends file called base.html-->
{% extends "base.html" %}

<!--head of web page-->
{% block head %}

<head>

  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

</head>

<!--end of head-->
{% endblock %}

<!--body of web page-->
{% block body %}

<div class="container-fluid">

{% for article in articles %}

{% set imgURL = article['photo_url'] %}
{% set articleName = article['title'] %}
{% set articleAuthor = article['author'] %}
{% set articleContent = article['content'] %}
{% set articleURL = article['url'] %}

{% if imgURL is not none %}
<img class="articleImage" src= {{imgURL}}>
<br><br>
<a href="{{articleURL}}">{{articleName}}</a>
<br><br>

{% else %}

<p>{{title}}</p>
<p>Author: {{author}}</p>
<p>Content Preview: {{content}}</p>
<p>This article does not include an image :)</p>
<a href="{{articleURL}}">{{articleName}}</a>
<br><br>

{% endif %}

{% endfor %}

<p> Global News goes here! </p>
<!--<form class="search" action="">
  <input class="input" type = "text" />
  <input type="submit" />
</form>

<div class="container">
  <ul class="class-list"></ul>
</div>

</div>-->

<script>
console.log({{news}})
</script>

<!--end of body-->
{% endblock %}
