<!--extends file called base.html-->
{% extends "base.html" %}

<!--head of web page-->
{% block head %}

<head>
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<!--end of head-->
{% endblock %}

<!--body of web page-->
{% block body %}

<div class="container-fluid">

  <div id="mainRow" class="row"></div>

</div>

<!--linking html file to javascript file-->
<script type="text/javascript"
        src="{{ url_for('static', filename='functions.js') }}"></script>

<!--clear filter form input upon refresh of page-->
<!--source: https://stackoverflow.com/questions/6320113/how-to-prevent-form-resubmission-when-page-is-refreshed-f5-ctrlr/45656609#45656609?newreg=05334529cc45440ba4d26fd23c671889-->

<script type="text/javascript">
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<!--clear div with class row on page load-->
<script type="text/javascript">

  var element = document.getElementsByClassName("row");
  element.innerHTML = '';

</script>

<!-- if there is an active search query -->
{% if clearMainRow == 'True' %}

  <!-- if user inputted blank string as search query -->
  {% if printEmptySearch == 'True' %}

    <script> clearBox('mainRow', true, false) </script>

  {% elif noSearchResults == 'True' %}

    <script> clearBox('mainRow', false, true) </script>

  {% else %}

    <script> clearBox('mainRow', false, false) </script>

    {% for article in searchResults %}

      <!--getting properties of article-->
      {% set articleName = article['title'] %}
      {% set articleURL = article['url'] %}
      {% set imgURL = article['imageURL'] %}
      {% set articlePoliticalAssignment = article['leaning'] %}
      {% set articleOnSpectrum = article['onSpectrum'] %}

      {% if articlePoliticalAssignment != 'n/a' %}

          <!--source: https://stackoverflow.com/questions/2061439/string-concatenation-in-jinja-->
          {% set spectrumImagePath = 'static/spectrumIcons/' ~ articleOnSpectrum ~ '.png' %}

          {% if imgURL is not none and imgURL != "blank" %}

          <script type="text/javascript">

          var card = getCardCode("{{imgURL}}", "{{articleURL}}", "{{articleName}}", "{{spectrumImagePath}}")
          var element = document.getElementById("mainRow");
          element.innerHTML += "<br>";
          element.innerHTML += card;

          </script>

          {% else %}

          <!-- add card to the More in US Headlines card-->
          <!--source: https://stackoverflow.com/questions/44830188/uncaught-typeerror-cannot-read-property-append-of-null-in-jquery-->
          <!--source: https://www.tutorialrepublic.com/faq/how-to-add-li-in-an-existing-ul-using-jquery.php-->

          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script type="text/javascript">

          appendNoImageArticle("{{articleURL}}", "{{articleName}}", "{{spectrumImagePath}}")
          changeArticlesWithImages();

          </script>

          {% endif %}

      {% endif %}

    {% endfor %}

    <script>

    otherArticlesCard = createNoImageCard("More from US Headlines")
    var element = document.getElementById("mainRow");
    element.innerHTML += "<br>";
    element.innerHTML += otherArticlesCard;

    if (getArticlesWithImages() == "all") {
      document.getElementById('noImageCard').remove();
    }

    </script>

  {% endif %}

<!-- if no search query is active -->
{% else %}

<!--loop through articles; choose whether to display them & how to display them-->
{% for article in articles %}

<!--check if user wants to filter by each category-->
{% set rightFilterActive = arrayBools[0] %}
{% set leftFilterActive = arrayBools[1] %}
{% set neutralFilterActive = arrayBools[2] %}

<!--getting properties of article-->
{% set articleName = article['title'] %}
{% set articleURL = article['url'] %}
{% set imgURL = article['imageURL'] %}
{% set articlePoliticalAssignment = article['leaning'] %}
{% set articleOnSpectrum = article['onSpectrum'] %}

{% if articlePoliticalAssignment != 'n/a' %}

    {% set articleIsLeft = (articlePoliticalAssignment == 'left') and (articleOnSpectrum != 'neutral') %}
    {% set articleIsRight = (articlePoliticalAssignment == 'right') and (articleOnSpectrum != 'neutral') %}
    {% set articleIsNeutral = (articleOnSpectrum == 'neutral') %}

    {% set showLeftArticle = articleIsLeft and (leftFilterActive == 'True') %}
    {% set showRightArticle = articleIsRight and (rightFilterActive == 'True') %}
    {% set showNeutralArticle = articleIsNeutral and (neutralFilterActive == 'True') %}

    <!-- displaying right-leaning / neutral articles -->
    {% if showLeftArticle or showRightArticle or showNeutralArticle %}

        <!--source: https://stackoverflow.com/questions/2061439/string-concatenation-in-jinja-->
        {% set spectrumImagePath = 'static/spectrumIcons/' ~ articleOnSpectrum ~ '.png' %}

        {% if imgURL is not none and imgURL != "blank" %}

        <script type="text/javascript">

        incrementArticlesOnDisplay()
        var card = getCardCode("{{imgURL}}", "{{articleURL}}", "{{articleName}}", "{{spectrumImagePath}}")
        var element = document.getElementById("mainRow");
        element.innerHTML += "<br>";
        element.innerHTML += card;

        </script>

        {% else %}

        <!-- add card to the More in US Headlines card-->
        <!--source: https://stackoverflow.com/questions/44830188/uncaught-typeerror-cannot-read-property-append-of-null-in-jquery-->
        <!--source: https://www.tutorialrepublic.com/faq/how-to-add-li-in-an-existing-ul-using-jquery.php-->

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript">

        appendNoImageArticle("{{articleURL}}", "{{articleName}}", "{{spectrumImagePath}}")
        changeArticlesWithImages();

        </script>

        {% endif %}

    {% endif %}

{% endif %}

{% endfor %}

<script>

otherArticlesCard = createNoImageCard("More from US Headlines")
var element = document.getElementById("mainRow");
element.innerHTML += "<br>";
element.innerHTML += otherArticlesCard;

/* if all articles have images */
if (getArticlesWithImages() == "all") {
  /* remove card created to store articles with no images */
  document.getElementById('noImageCard').remove();
}

if (getArticlesOnDisplay() == 0) {
  noFilterResults();
  console.log("no articles on display");
} else {
  resetArticlesOnDisplay();
}

/* refresh database (app.py checks if this is necessary) */
databaseRefresh();

</script>

{% endif %}

<!--end of body-->
{% endblock %}
