<!--extends file called base.html-->
{% extends "base.html" %}


<!--head of web page-->
{% block head %}

<head>
  <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<!--end of head-->
{% endblock %}

<!--body of web page-->
{% block body %}
<div class="smallNav">

<nav class="navbar navbar-expand-md mb-4">

<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>-->

<div id="dropdownLeft" class="dropdown">
<div class="float-left">
  <button class="dropbtn">
    <img class="siteLogo" src="static/logo3.png" width="65" height="60" alt="logo">
  </button>
</div>
  <div id="logoDropdown" class="dropdown-content">
    <a id="topHeadlinesLink" class="nav-link" href="/">Top Headlines</a>
    <a class="nav-link" href="/entertainment">Entertainment</a>
    <a class="nav-link" href="/sports">Sports</a>
    <a class="nav-link" href="/business">Business</a>
    <a class="nav-link" href="/science">Science</a>
    <a class="nav-link" href="/health">Health</a>
  </div>
</div>

<div class="dropdown" style="float:right;">
<div class="float-right">
  <button class="dropbtn">
    <img class="filterIcon" src="static/filterIcon.png" width="65" height="60" alt="logo">
  </button>
</div>
  <div class="dropdown-content">
    <form class="filterCheckboxes" method="post">
    <p>Filter by:</p>
    <p>Right-leaning <input type="checkbox" class="right-leaning" name="party" value="Right"></p>
    <p>Left-leaning <input type="checkbox" class="left-leaning" name="party" value="Left"></p>
    <p>Neutral <input type="checkbox" class="neutral" name="party" value="Neutral"></p>
    <p><input type="submit" value="Submit"></p>
    </form>
  </div>
</div>

</nav>

</div>

<!-- regular navigation bar -->

<div class="regularNav">

<nav class="navbar navbar-expand-md mb-4">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" href="/">
  <img class="siteLogo" src="static/logo3.png" width="65" height="60" alt="logo">
</a>

<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a id="entertainmentNav" class="nav-link" href="/entertainment">Entertainment</a>
    </li>

    <li class="nav-item">
      <a id="sportsNav" class="nav-link" href="/sports">Sports</a>
    </li>

    <li class="nav-item">
      <a id="businessNav" class="nav-link" href="/business">Business</a>
    </li>

    <li class="nav-item">
      <a id="scienceNav" class="nav-link" href="/science">Science</a>
    </li>

    <li class="nav-item">
      <a id="healthNav" class="nav-link" href="/health">Health</a>
    </li>

    <!--<li class="nav-item">
      <a id="worldNav" class="nav-link" href="/mldemo">Machine Learning Demo</a>
    </li>-->

  </ul>

  <div class="dropdown" style="float:right;">
  <div class="float-right">
    <button class="dropbtn">
      <img class="filterIcon" src="static/filterIcon.png" width="65" height="60" alt="logo">
    </button>
  </div>
    <div class="dropdown-content">
      <form class="filterCheckboxes" method="post">
      <p>Filter by:</p>
      <p>Right-leaning <input type="checkbox" class="right-leaning" name="party" value="Right"></p>
      <p>Left-leaning <input type="checkbox" class="left-leaning" name="party" value="Left"></p>
      <p>Neutral <input type="checkbox" class="neutral" name="party" value="Neutral"></p>
      <p><input type="submit" value="Submit"></p>
      </form>
    </div>
</div>

  </div>
</nav>
</div>
<!--Featured Image-->
<img alt="instructions" src="static/howToUseOurSite.png" style="width:100%;" />

<div id="instructionsDiv" class="container-fluid">

  <br><h2 class="instructionsTitle"> News Categories </h2> <br>

  <p class="instructionsText"> Balanced News offers the following news categories:</p>

  <ul class="instructionsText">
  <li> Top US Headlines (home page) </li>
  <li> Entertainment </li>
  <li> Sports </li>
  <li> Business </li>
  <li> Science </li>
  <li> Health </li>
  </ul>

  <h2 class="instructionsTitle"> Filtering </h2> <br>

  <img class="howToFilter" alt="how to filter" src="static/howToFilter.png" /><br><br>

  <p id="filterInstructions" class="instructionsText"> To view articles based on their political party or lack thereof, hover over the filter icon in the top right corner of the screen. This will trigger a dropdown menu where you will be able to select what kinds of articles you would like to read: right-leaning, left-leaning, or neutral on the political spectrum.</p>

  <h2 class="instructionsTitle"> Identifying Political Spectrum </h2> <br>

  <img class="howToFilter" alt="get spectrum image" src="static/hoverFeature.png" /><br><br>

  <p class="spectrumImagesExplanation instructionsText"> When you hover over an article's associated link, you will notice an image pop up in front of it with a spectrum ranging from dark blue to dark red. This image will tell you where the article you are hovering over is on the political spectrum. </p>
  <br><p class="spectrumImagesExplanation instructionsText"> Below you will find a table explaining the meaning of the images you will see: </p><br>

  <table>
  <tr>
    <th><p class="tableText"> Spectrum Image </p></th>
    <th><p class="tableText"> Political Assignment </p></th>
  </tr>

  <!--Far Left-->
  <tr>
    <td><br><img class="spectrumTableImage" alt="far left" src="static/spectrumIcons/farLeft.png" /><br></td>
    <td><p class="tableText">  Far Left </p></td>
  </tr>

  <!--Moderate Left-->
  <tr>
    <td><br><img class="spectrumTableImage" alt="moderate left" src="static/spectrumIcons/moderateLeft.png" /><br></td>
    <td><p class="tableText">  Moderate Left </p></td>
  </tr>

  <!--Slight Left-->
  <tr>
    <td><br><img class="spectrumTableImage" alt="slight left" src="static/spectrumIcons/leastLeft.png" /><br></td>
    <td><p class="tableText">  Slight Left </p></td>
  </tr>

  <!--Neutral-->
  <tr>
    <td><br><img class="spectrumTableImage" alt="neutral" src="static/spectrumIcons/neutral.png" /><br></td>
    <td><p class="tableText">  Neutral </p></td>
  </tr>

  <!--Slight Right-->
  <tr>
    <td><br><img class="spectrumTableImage" alt="least right" src="static/spectrumIcons/farLeft.png" /><br></td>
    <td><p class="tableText">  Slight Right </p></td>
  </tr>

  <!--Moderate Right-->
  <tr>
    <td><br><img class="spectrumTableImage" alt="moderate right" src="static/spectrumIcons/moderateRight.png" /><br></td>
    <td><p class="tableText">  Moderate Right </p></td>
  </tr>

  <!--Far Right-->
  <tr>
    <td><br><img class="spectrumTableImage" alt="far right" src="static/spectrumIcons/farRight.png" /><br></td>
    <td><p class="tableText"> Far Right </p></td>
  </tr>

</table><br>

<br><p class="spectrumImagesExplanation instructionsText"> If you're reading this, great job! You are now ready to use Balanced News 🎉 </p><br>

</div>

<!--end of body-->
{% endblock %}
