<!--extends file called base.html-->
{% extends "base.html" %}

<!--head of web page-->
{% block head %}

<head>

  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

</head>

<!--end of head-->
{% endblock %}

<!--body of web page-->
{% block body %}

<div class="container-fluid">

<h2>Enter a title from CNN, NYT, or Breitbart. Our machine learning model will guess which publication it is from.</h2>
<form method="POST" action="mldemo">
  <input type="text" name="title" placeholder="Title of news article" required />
  <input type="submit" value="Submit">
</form>
{% if not prediction == None %}
<h2>That title is most likely from {{prediction}}</h2>
{% endif %}


</div>

<!--end of body-->
{% endblock %}
