<!--extends file called base.html-->
{% extends "base.html" %}

<!--head of web page-->
{% block head %}

<head>
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <!--<script src="static/functions.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>

<!--end of head-->
{% endblock %}

<!--body of web page-->
{% block body %}

<div class="container-fluid">

<!--comment out everything but mainRow to space things out-->
<section id="gallery">
   <div class="container">

        <div id="mainRow" class="row">

        </div>
    </div>
</section>

<script>

  var element = document.getElementsByClassName("row");
  element.innerHTML = '';

</script>


{% for article in articles %}

{% set imgURL = article['photo_url'] %}
{% set articleName = article['title'] %}
{% set articleAuthor = article['author'] %}
{% set articleContent = article['content'] %}
{% set articleURL = article['url'] %}

{% if imgURL is not none and imgURL != "" %}

<!--create code for specific card and store it in array using javascript function-->

<script>

function getCardCode(imageURL, newsArticleURL, newsArticleName) {

  let cardCode = "<div class='col-lg-3 mb-3'>" +
                    "<div class='card h-100'>" +
                      "<img class='card-img-top' src='url' >" +
                      "<div class='card-body'>" +
                      "<h5 class='card-title'><a href='linkToArticle'>nameOfArticle</a></h5>" +
                      "</div>"  +
                    "</div>" +
                  "</div>"


  let cardParameter1 = cardCode.replace("url", imageURL);
  let cardParameter2 = cardParameter1.replace("linkToArticle", newsArticleURL);
  let cardParameter3 = cardParameter2.replace("nameOfArticle", newsArticleName);
  console.log(cardParameter1)
  console.log(cardParameter2)
  console.log(cardParameter3)

  /*console.log(cardParameter3);
  console.log = newsArticleName;*/

  return cardParameter3;

}

var card = getCardCode("{{imgURL}}", "{{articleURL}}", "{{articleName}}")
var element = document.getElementById("mainRow");
/*console.log(element);*/
element.innerHTML += "<br>";
element.innerHTML += card;
console.log(element.innerHTML);
console.log(card);

</script>

<!--<div class="card" style="width: 20rem;">
  <img class="card-img-top" src={{imgURL}}>
  <div class="card-body">
    <h5 class="card-title"><a href="{{articleURL}}">{{articleName}}</a></h5>
  </div>
</div>-->

{% else %}

<!-- add card to the More in US Headlines card-->
<!--source: https://stackoverflow.com/questions/44830188/uncaught-typeerror-cannot-read-property-append-of-null-in-jquery-->
<!--source: https://www.tutorialrepublic.com/faq/how-to-add-li-in-an-existing-ul-using-jquery.php-->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
  $(document).ready(function(){
    /*document.getElementById("list").append('<li class="list-group-item">New list item</li>');*/
    $("#list").append('<li class="list-group-item"><a href="{{articleURL}}">{{articleName}}</a></li>');
  });
</script>

{% endif %}

{% endfor %}


<!--card with headliens that don't have images-->

<script>
let otherArticles = "<div class='col-lg-3 mb-3'>" +
                      "<div class='card h-100'>" +
                      "<div class='card-header'>" +
                        "More from US Headlines" +
                      "</div>" +
                      "<ul id='list' class='list-group list-group-flush'>" +
                      "</ul>" +
                    "</div>" +
                    "</div" +
                    "<br><br>"

var element = document.getElementById("mainRow");
/*console.log(element);*/
element.innerHTML += "<br>";
element.innerHTML += otherArticles;

</script>

<!--end of body-->
{% endblock %}
